.ms_banner {
    background-color: black;
}

.ms_banner img {
    height: 15px;
}

.ms_search_lens {
    height: 30px;
}

.game_jumbo {
    color: white;
}

.game_card img{
    width: 55%;
}

.game_jumbo .row{
    min-height: 750px;
}

.ms_returnal {
    background-image: url('img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.game_thumb_card.active, .game_thumb_card:hover {
    border: 3px solid #0072CE;
    border-radius: 17px;
    outline: 3px solid white;
    outline-offset: -6px;
    overflow: hidden;
}

.game_thumb_card:hover {
    transform: translateY(-10px);
    transition: 0.2s;
}

.ms_it_takes_two {
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.ms_image_width img {
    max-width: 100%;
    border-radius: 15px;
}

.ms_playstation_slogan {
    color: #0575CF;
}

.ms_playstation_description {
    color: #727272;
}

.ms_console_description {
    color: #727272;
}

.ms_console_image img {
    max-width: 100%;
}

.ms_accessories_image img {
    max-width: 60%;
}

.ms_console_accessories {
    opacity: 0.5;
}

.ms_console_accessories.active {
    opacity: 1;
    border-bottom: 3px solid #006DCC;
}

.ms_accessories li:hover .ms_console_accessories {
    opacity: 1;
    border-bottom: 3px solid #006DCC;
    transition: 0.2s;
}

#newReleases {
    background-color: #1F1F1F;
    color: white;
}

.ms_release_img img {
    max-width: 100%;
    border-radius: 15px;
}

.ms_release_img:hover img {
    transform: scale(1.05);
    transition: 0.5s;
}

.ms_ps4_img img {
    max-width: 100%;
}

#ms_psPlus_banner {
    background-color: #BEBCBB;
}

.ms_psPlus_title img {
    max-width: 65%;
}

.ms_psPlus_image img {
    max-width: 100%;
}

.ms_btn_style {
    background-color: #D9DADC !important;
    color: #4A78E4 !important;
    border-color: #C1C3C6 !important;
}

#ms_psNow_banner {
    background-color: #161C3B;
    color: white;
}

.ms_psStore_image img {
    max-width: 100%;
}

.ms_psStore_image:hover img {
    transform: scale(1.05);
    transition: 0.5s;
}

.ms_social_image img {
    max-width: 100%;
}

.ms_social_image:hover img {
    transform: scale(1.05);
    transition: 0.2s;
}

#ms_footer_background {
    min-height: 600px;
    background-color: #00439C;
    color: white;
}

#ms_footer_background a {
    color: white;
    text-decoration: none;
}

.ms_sony_logo {
    max-width: 30%;
}

.ms_footer_logo img {
    width: 150px;
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    .ms_console_accessories p {
        display: none;
    }

    .row.ms_accessories {
        justify-content: flex-start !important;
    }

    .ms_psPlus_image {
        display: none;
    }

    #ms_psPlus_banner .ms_psPlus_content {
        padding: 15px 0;
    }

    #ms_psNow_banner .ms_psNow_content {
        padding: 15px 0;
    }
}

@media screen and (max-width: 576px) {
    
    .ms_console_accessories p {
        display: none;
    }

    .row.ms_accessories {
        justify-content: flex-start !important;
    }

    .ms_psPlus_image {
        display: none;
    }

    #ms_psPlus_banner .ms_psPlus_content {
        padding: 15px 0;
    }

    #ms_psNow_banner .ms_psNow_content {
        padding: 15px 0;
    }
}
